<html>
<head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="/include/js/angular.min.js"></script>
<script src="/include/js/application.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/include/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css"
	href="/include/css/bootstrap-theme.css" />
<link rel="stylesheet" type="text/css" href="/include/css/style.css" />
<script src="/include/js/bootstrap.min.js"></script>
</head>
<body>


	<nav class="navbar navbar-fixed-top navbar-inverse top-header">
		<div class="container">
			<div class="col-md-1"></div>
			<div class="col-md-10">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand margintopn10px" href="#"><img
						src="/include/images/logo_in_nav_44x36.png" alt="LinkedIn"
						height="36" width="44" /></a>
				</div>
				<div id="navbar" id="signinapp" ng-app="signinapp"
					ng-controller="signinController" class="navbar-collapse collapse">
					<div class="container">
						<div class="col-md-1"></div>
						<div class="col-md-6">
							<form id="form1" method="post" action="/profile/search">
								<div class="navbar-form">
									<div class="input-group">
										<input type="text" class="form-control input-sm"
											style="width: 350px" placeholder="Search..." id="name"
											name="name" value="">
									</div>
									<button type="submit" class="btn btn-primary">
										<span class="glyphicon glyphicon-search"></span>
									</button>



									<!-- /input-group -->

								</div>


							</form>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Link</a></li>
						</ul>


						<div class="col-md-3">
							<div class="navbar-form">
								<div class="col-md-3">
									<div class="dropdown">
										<button id="btnInvitation" class="btn btn-primary"
											type="button" onclick="sendtomessagebox()">
											<span class="glyphicon glyphicon-envelope"></span>
										</button>
									</div>
								</div>
								<div class="col-md-3">
									<div class="dropdown">
										<button id="btnProfile" type="submit" class="btn btn-primary"
											type="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											<span class="glyphicon glyphicon-user"></span>
										</button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
											<li role="presentation"><a role="menuitem" tabindex="-1"
												href="/user/edit">Edit Profile</a></li>
											<li role="presentation" class="divider"></li>
											<li role="presentation"><a role="menuitem" tabindex="-1"
												href="/signout">Signout</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</nav>

	<nav
		class="navbar-static-top backblack heightlow navlinks margintop40px">
		<div class="container">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div id="navbar1" class="navbar-collapse collapse">
					<div class="container">
						<div class="col-md-4">
							<div class="linkinbar">
								<a href="/wall">Home</a> <a href="/user/edit">Profile</a> <a href="/connections">Connections</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row wallnotification margintop10px padding10px">
					<div class="col-md-4 rightborder">
						<% if(profile.imagedetail == "") {%> <img alt="" height="225px"
							width="180px"
							src="http://localhost:3000/include/images/no-profile-img.gif">
						<% } else{ %> <img alt="" height="225px" width="180px"
							src="/include/images/<%= profile.imagedetail %>"> <% } %>

					</div>
					<div class="col-md-8">
						<h3><%= profile.firstname %> <%= profile.lastname %></h3>
						<hr />
						Contact : <a href="mailto:<%=profile.emailid %>"><%=profile.emailid
							%></a> <br /> Total Connections : <%=profile.totalconnection %><br />
						Last Loggedin : <%=profile.lastloggedin %><br />
					</div>

				</div>
			</div>
			<div class="col-md-2"></div>
		</div>

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row ">
					<div class="wallnotification margintop10px padding10px">
						<h2>Summary</h2>
						<hr>
						<%= profile.summary %>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>

		<div class="row">


			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">

					<div class="wallnotification margintop10px padding10px">
						<h2>Experience</h2>

						<% for(var i=0; i
						<work.length; i++) {%>

						<hr />
						<div>
							<h4><%= work[i].desc %></h4>
						</div>
						<div>
							<h5><%= work[i].organisation %></h5>
						</div>
						<div><%= work[i].from %> - <%= work[i].to %></div>
						<div><%= work[i].summary %></div>

						<% } %> 
					</div>


					<div class="wallnotification margintop10px padding10px">
						<h2>Education</h2>

						<% for(var i=0; i
						<education.length; i++) {%>
						<hr />

						<div>
							<h4><%= education[i].desc %></h4>
						</div>
						<div>
							<h5><%= education[i].organisation %></h5>
						</div>
						<div><%= education[i].from %> - <%= education[i].to %></div>
						<div><%= education[i].summary %></div>

						<% } %> 
					</div>
					<div class="wallnotification margintop10px padding10px">
						<h2>Skills</h2>
						<hr />
						<% for(var i=0; i
						<skill.length; i++) {%>
						<div><%= skill[i].skillname %></div>
						<hr />
						<% } %> 
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>


	</div>
	<script>
		
	</script>
	<script>
		var signinController = angular.module("signinapp", []);
		signinController.controller("signinController", function($scope, $http,
				$location) {

			$scope.signIn = function() {
				alert($scope.loginemail);
				$http({
					method : 'POST',
					url : '/signin',
					data : {
						"username" : $scope.loginemail,
						"password" : $scope.loginpassword
					}

				}).success(function(response) {
					if (response.status == "success")
						window.location = '/wall';
					else
						window.location = '/failLogin';
				}).error(function(error) {
					alert("error");
				});
			};
		});

		//angular.bootstrap(document.getElementById("wallcontrol"),
		//	[ 'wallcontrol' ]);
	</script>
</body>
</html>